<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>LED ON/OFF</h1>
    <button type="button" onclick="ledop(1)">RED LED ON</button>
    <button type="button" onclick="ledop(2)">RED LED OFF</button>
    <button type="button" onclick="ledop(3)">BLUE LED ON</button>
    <button type="button" onclick="ledop(4)">BLUE LED OFF</button>
    <div id="result"></div>
    <script>
        function ledop(op){
            let url = (op == 1) ? "/led/red/on" : (op==2) ? "/led/red/off" : (op==3) ? "/led/blue/on" : "/led/blue/off";
            
            fetch(url)
            .then(response=>response.text())
            .then(data=> {
                let result = document.querySelector("#result");
                result.innerHTML = "<h1>" + data + "</h1>";
            });
        }
    </script>
</body>
</html>